@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
   font-family: "Inter", serif;
  margin:0px 50px 0px 50px;
  background-image: url("/pattern3.jpg");
  background-size: cover;
  background-repeat: no-repeat; 
  background-attachment: fixed;
}
